# Discord Information
TOKEN = "YOUR_BOT_TOKEN_HERE" # Also used for patchnotes-broadcast.js
GUILD_ID = "YOUR_SERVER_ID_HERE"
CLIENT_ID = "YOUR_CLIENT_ID_HERE"

# RCON Information
RCON_HOST="127.0.0.1" # Assuming the Minecraft server is running on the same machine as the bot, change accordingly if not
RCON_PORT="25575" # Default RCON port for Minecraft servers, change if your server uses a different port (RCON)
RCON_PASSWORD="YOUR_RCON_PASSWORD_HERE"

# Minecraft Server Information
MC_SERVICE="YOUR_MINECRAFT_SERVICE_NAME_HERE"

# Discord Channel IDs
STATUS_CHANNEL_ID="YOUR_STATUS_CHANNEL_ID_HERE" # Also used for patchnotes-broadcast.js

# Connection Information
JAVA_EDITION_VERSION="JAVA_EDITION_VERSION_HERE"
PLAYIT_ADDRESS="YOUR_PLAYIT_ADDRESS_HERE"
LOCAL_ADDRESS="YOUR_LOCAL_ADDRESS_HERE"